*box-sizing:border-box;
/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

a:hover {
    color: rgb(64, 185, 64);
}



body{
    background: #c7ced4;
    color: black;
    font-size: 30px;

    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    padding: 15px;
    text-align: center;
    box-sizing:border-box;

    

    
}
    .header nav a {
        color: rgb(31, 28, 28);
        text-decoration: none;
        margin: 15px;
        font-size: 18px;
    }
    .header nav a:hover {
        text-decoration: underline;
    }

.text {
    text-align: center;
    padding: 50px;
    box-sizing:border-box;

    
}
.locations {
      background: #fff;
      box-shadow: 0 2px 4px #51585e;
      position: center;
      top: 0;
     
  }
  .locations nav {
      display: flex;
      justify-content: center;
      padding: 10px;
      box-sizing:border-box;
  }
  .locations nav a {
      color: #333;
      text-decoration: none;
      margin: 0 40px;
      font-size: 14px;
      position: relative;
  }

  .logo {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 40px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 8px;
      color: #fff;
      text-align: center;
      margin-top: 50px;
      padding: 100px;
      box-sizing:border-box;

  }

.blog-container{
    display:flex;
    padding: 30px;
    gap:30px;
    justify-content: center;
}
  